<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Yoda Quote App</title>
  </head>

  <body>
    <h1>May the Node (and Express) Be with You!</h1>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>

    <div>
      <h2>Darth Vader invades!</h2>
      <p>Replace first Yoda's quote with a quote written by Darth Vader</p>
      <button id="update-button">Replace Yoda's quote</button>
    </div>

    <div>
      <h2>Remove Darth Vader!</h2>
      <p>Delete one Darth Vader's quote. Does nothing if there are no more Darth Vader's quote</p>
      <button id="delete-button">Delete Darth Vader's quote</button>
    </div>

    <% for(var i = 0; i < quotes.length; i++) {%>
    <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span><%= quotes[i].name %></span>:
      <!-- Output quote from the iterated quote object -->
      <span><%= quotes[i].quote %></span>
    </li>
    <% } %>
    <script src="/main.js"></script>
  </body>
</html>
